---
layout: default
---
<div id="infoSwitch" class="info off white absolute">Info</div>
<div class="infoBody w-100 vh-100 items-center justify-center z-99 white absolute flex-column dn ph3 tc lh-copy">
  <div class="mmeasure tl">
    <div class="pb2">Jonathan Glam & Seth Kenji</div>
    <div><span class="italic">Gay Cutie Meets a Like-Minded Fucker in the Woods</span>, 2020</div>
  </div>

</div>

<div  class="bg-black w-100 vh-100 relative">
  <div id="videoHold" class="flex justify-center items-center scene">
    <div id="cubeHold" class="cube show-start">
      <div class="cube__face cube__face--front" value="jonathan">
        <video playsinline poster="assets/static.gif" id="jon" width="100%" height="auto">
          <source src="https://kenjiseth.s3.amazonaws.com/Seth.mov" type="video/mp4">
        </video>
      </div>
      <div class="cube__face cube__face--back"></div>
      <div class="cube__face cube__face--right"></div>
      <div class="cube__face cube__face--left" value="seth">
        <video playsinline poster="assets/static.gif" id="seth" width="100%" height="100%">
          <source src="https://kenjiseth.s3.amazonaws.com/Jonathan.mov" type="video/mp4" />
        </video>
      </div>

      <div id="top" class="cube__face cube__face--top" value="top"></div>
      <div class="cube__face cube__face--bottom"></div>
    </div>
  </div>
  <div class="area left-area" id="seth"></div>
  <div class="area right-area" id="jon"></div>
</div>
