---
layout: default
---

<div class="bg-black w-100 vh-100 relative">
  <div class="scene flex justify-center items-center dimmed">
    <div id="cubeHold" class="cube show-start">
      <div class="cube__face cube__face--front" value="jonathan">
        <video playsinline poster="assets/static.gif" id="jon" width="100%" height="auto">
          <source src="https://kenjiseth.s3.amazonaws.com/Seth.m4v" type="video/mp4">
        </video>
      </div>
      <div class="cube__face cube__face--back"></div>
      <div class="cube__face cube__face--right"></div>
      <div class="cube__face cube__face--left" value="seth">
        <video playsinline poster="assets/static.gif" id="seth" width="100%" height="100%">
          <source src="https://kenjiseth.s3.amazonaws.com/Jonathan.m4v" type="video/mp4" />
        </video>
      </div>

      <div id="top" class="cube__face cube__face--top" value="top"></div>
      <div class="cube__face cube__face--bottom"></div>
    </div>
  </div>
  <div class="area left-area" id="seth"></div>
  <div class="area right-area" id="jon"></div>
</div>
