---
layout: default
---
<div class="names">
  <div class="name first">Seth</div>
  <div class="name last">Kenji</div>
</div>
<div class="images flex items-center justify-center min-vh-100 flex-column">
  <div><img src="https://picsum.photos/300/200" /></div>
  <div><img src="https://picsum.photos/200/300" /></div>
  <div><img src="https://picsum.photos/200/300" /></div>
  <div><img src="https://picsum.photos/200/300" /></div>
  <div><img src="https://picsum.photos/200/300" /></div>
  <div><img src="https://picsum.photos/200/300" /></div>

</div>
