---
layout: default
---
<!-- <div class="bg-black ph2-l ph0">
  <div class="w-100 flex flex-wrap">
    <div id="left" class="w-50-l vh-calc-l w-100 vh-100-l vh-75 relative overflow-hidden ph2-l ph0 flex items-center ease-transition ">
      <video id="leftVideo" class="object-fit pointer skew" autostart autoplay loop preload muted width="100%" height="auto">
        <source src="http://media.gayboystube.com:8080/videos/5/e/8/f/b/5e8fb294612c8.mp4" type="video/mp4">
      </video>
    </div>

    <div id="right" class="w-50-l vh-calc-l w-100 vh-100-l vh-75 relative overflow-hidden ph2-l ph0 flex items-center ease-transition">
      <video id="rightVideo" class="object-fit pointer skew" autostart autoplay loop preload muted width="100%" height="auto">
        <source src="http://media.gayboystube.com:8080/videos/5/e/8/7/4/5e874141d584e.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div> -->

<div class="bg-black ph2-l ph0">
  <div class="w-100 flex flex-wrap">
    <div id="left" class="w-50-l vh-calc-l w-100 vh-100-l vh-75 relative overflow-hidden ph2-l ph0 flex items-center ease-transition ">
      <video id="leftVideo" class="object-fit pointer skew" autostart autoplay loop preload muted width="100%" height="auto">
        <source src="http://media.gayboystube.com:8080/videos/5/e/8/7/4/5e874141d584e.mp4"" type="video/mp4">
      </video>
    </div>

    <div id="right" class="w-50-l vh-calc-l w-100 vh-100-l vh-75 relative overflow-hidden ph2-l ph0 flex items-center ease-transition">
      <video id="rightVideo" class="object-fit pointer skew" autostart autoplay loop preload muted width="100%" height="auto">
        <source src="assets/seth.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>

<div class="vh-25 w-100 bg-black"></div>
